<div class="bg-[white] p-[16px] mt-[16px] rounded-t-lg">
    <div class="flex w-full">
        <form [formGroup]="filterForm" class="lg:flex w-full">
            <div class="w-12/12 lg:w-11/12 lg:flex gap-4 h-[38.1px] overflow-y-hidden">
                <div class="w-12/12 lg:w-4/12 pt-[16px] lg:pt-0">
                    <input nzSize="large" class="w-full" formControlName="title" nz-input type="text"
                        placeholder="Tiêu đề danh mục" />
                </div>
                <div class="w-12/12 lg:w-4/12 pt-[16px] lg:pt-0">
                    <nz-select nzSize="large" class="w-full" formControlName="active" style="width: 100%"
                        nzPlaceHolder="Trạng thái">
                        <nz-option nzLabel="Hoạt động" nzValue="true"> </nz-option>
                        <nz-option nzLabel="Tạm khoá" nzValue="false"> </nz-option>
                    </nz-select>
                </div>
                <div class="w-12/12 lg:w-4/12 pt-[16px] lg:pt-0">
                    <nz-date-picker nzSize="large" class="w-full" nzFormat="yyyy-MM-dd" formControlName="createdFrom"
                        style="width: 100%" nzPlaceHolder="Ngày tạo"></nz-date-picker>
                </div>
            </div>
            <div class="w-12/12 lg:w-1/12 ml-[8px] flex justify-center pt-[16px] lg:pt-0">
                <a class="text-[white] text-[12px] items-center flex justify-center rounded-lg uppercase w-full py-[8px] px-[16px] bg-pink-100 hover:bg-blue-100 font-bold hover:text-[white]"
                    (click)="onApply()">
                    Tìm kiếm
                </a>
            </div>
        </form>
    </div>
</div>