<div class="bg-[white] p-[16px] mt-[16px] rounded-t-lg">
  <form [formGroup]="filterForm" style="margin-top: 20px;">
    <div class="flex w-full">
      <form [formGroup]="filterForm" class="lg:flex w-full">
        <div class="w-12/12 lg:w-11/12 lg:flex gap-4 h-[38.1px] overflow-y-hidden">
          <div class="w-12/12 lg:w-3/12 pt-[16px] lg:pt-0"><input nzSize="large" class="w-full" formControlName="title" nz-input type="text" placeholder="Title" /></div>

          <div class="w-12/12 lg:w-3/12 pt-[16px] lg:pt-0">
            <nz-select formControlName="status" style="width: 100%;" nzSize="large">
              <nz-option [nzValue]="'1'" nzLabel="NEW"></nz-option>
              <nz-option [nzValue]="'2'" nzLabel="IN_REVIEW"></nz-option>
              <nz-option [nzValue]="'3'" nzLabel="CENSORSHIP"></nz-option>
              <nz-option [nzValue]="'4'" nzLabel="PUBLISHED"></nz-option>
            </nz-select>
          </div>
          <div class="w-12/12 lg:w-3/12 pt-[16px] lg:pt-0">
            <nz-input-group>
              <nz-date-picker  nzSize="large"
                  nzFormat="yyyy-MM-dd"
                  formControlName="createdFrom"
                  style="width: 100%;"
                  nzPlaceHolder="Created From"
              ></nz-date-picker>
            </nz-input-group>
          </div>
          <div class="w-12/12 lg:w-3/12 pt-[16px] lg:pt-0">
            <nz-input-group>
              <nz-date-picker  nzSize="large"
                  nzFormat="yyyy-MM-dd"
                  formControlName="createdTo"
                  style="width: 100%;"
                  nzPlaceHolder="Created To"
              ></nz-date-picker>
            </nz-input-group>
          </div>
        </div>
        <div class="w-12/12 lg:w-1/12 ml-[8px] flex justify-center pt-[16px] lg:pt-0">
          <a class="text-[white] text-[12px] items-center flex justify-center rounded-lg uppercase w-full py-[8px] px-[16px] bg-pink-100 hover:bg-blue-100 font-bold hover:text-[white]" (click)="onApply()">
            Search
          </a>
        </div>
    </form>
</div>
  <!-- <div nz-row [nzGutter]="16">
    <div nz-col class="gutter-row" [nzSpan]="6">
      <nz-form-item>
        <nz-form-label [nzSpan]="'vertical'">Tiêu đề bài viết</nz-form-label>
        <nz-input-group>
          <input formControlName="title" nz-input type="text" placeholder="Tiêu đề bài viết"/>
        </nz-input-group>
      </nz-form-item>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6">
      <nz-form-item>
        <nz-form-label [nzSpan]="'vertical'">Trạng thái</nz-form-label>
        <nz-input-group>
          <nz-select formControlName="status" style="width: 100%;">
            <nz-option [nzValue]="'1'" nzLabel="NEW"></nz-option>
            <nz-option [nzValue]="'2'" nzLabel="IN_REVIEW"></nz-option>
            <nz-option [nzValue]="'3'" nzLabel="CENSORSHIP"></nz-option>
            <nz-option [nzValue]="'4'" nzLabel="PUBLISHED"></nz-option>
          </nz-select>
        </nz-input-group>
      </nz-form-item>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6">
      <nz-form-item>
        <nz-form-label [nzSpan]="'vertical'">Tạo từ ngày</nz-form-label>
        <nz-input-group>
          <nz-date-picker
              nzFormat="yyyy-MM-dd"
              formControlName="createdFrom"
              style="width: 100%;"
          ></nz-date-picker>
        </nz-input-group>
      </nz-form-item>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6">
      <nz-form-item>
        <nz-form-label [nzSpan]="'vertical'">Tạo đến ngày</nz-form-label>
        <nz-input-group>
          <nz-date-picker
              nzFormat="yyyy-MM-dd"
              formControlName="createdTo"
              style="width: 100%;"
          ></nz-date-picker>
        </nz-input-group>
      </nz-form-item>
    </div>
  </div> -->
  <!-- <nz-space style="float: right; margin-bottom: 20px;">
    <button *nzSpaceItem nz-button nzType="primary" (click)="onApply()">
      <span nz-icon nzType="search"></span>
      Search
    </button>
    <button *nzSpaceItem nz-button (click)="onRefresh()" >
      <span nz-icon nzType="undo" nzTheme="outline"></span>
      Reset
    </button>
  </nz-space> -->
</form>

