<div class="block w-full">
    <div class="w-full mb-[30px]">
        <h3 class="titlePage">Create new post</h3>
    </div>

    <div class="bg-[white] py-[16px] rounded-[10px]">
        <form [formGroup]="postForm" class="w-full">
            <div class="postContent">
                <div class="text-[16px] text-blue-100 font-bold px-[16px] pb-[16px] border-b border-[#f2f2f2]">Post
                    content</div>
                <div class="p-[16px]">
                    <div class="flex">
                        <div class="w-1/12 px-[8px] mb-[16px] tl-p:w-1/2">
                            <app-digitop-upload [fileList]="image" [title]="'Hình ảnh'" CENSORSHIP
                                (changeFile)="changeFileUpload($event, 'image')" class="w-full"
                                [multiple]="false"></app-digitop-upload>
                        </div>

                        <div class="w-1/12 px-[8px] mb-[16px] tl-p:w-1/2">
                            <app-digitop-upload [fileList]="imageMb" [title]="'Hình mobile'" CENSORSHIP class="w-full"
                                (changeFile)="changeFileUpload($event, 'image')"
                                [multiple]="false"></app-digitop-upload>
                        </div>
                    </div>
                    <div class="flex flex-wrap mx-[-8px]">
                        <div class="w-6/12 px-[8px] mb-[16px] tl-p:w-full">
                            <div class="w-12/12">
                                <label class="labelForm">Tiêu đề bài viết <span class="text-[#ff0000]">*</span></label>
                                <input formControlName="title"
                                    [ngClass]="submitted && postForm.get('title')?.errors ? 'ant-input-status-error ng-invalid' : ''"
                                    class="input-title w-full" nz-input nzSize="large" nzBorderless
                                    placeholder="Tiêu đề" (ngModelChange)="onChangeTitle('vi')" />
                            </div>
                            <div class="w-12/12 pt-[16px] mb-[16px] tl-p:w-full">
                                <label class="labelForm">Ngày xuất bản <span class="text-[#ff0000]">*</span></label>
                                <nz-date-picker class="w-full" nzSize="large" ngDefaultControl
                                    formControlName="publishedAt" style="width: 100%"></nz-date-picker>
                            </div>
                        </div>
                        <div class="w-5/12 px-[8px] mb-[16px] tl-p:w-full">
                            <label class="labelForm">Trạng thái <span class="text-[#ff0000]">*</span></label>
                            <nz-select formControlName="status" name="status" [ngModel]="'1'" class="w-full"
                                nzSize="large">
                                <nz-option nzValue="1" nzLabel="NEW"></nz-option>
                                <nz-option nzValue="2" nzLabel="IN_REVIEW"></nz-option>
                                <nz-option nzValue="3" nzLabel="CENSORSHIP"></nz-option>
                                <nz-option nzValue="4" nzLabel="PUBLISHED"></nz-option>
                            </nz-select>
                            <div class="mt-[16px]">
                                <label class="labelForm">Thứ tự <span class="text-[#ff0000]">*</span></label>
                                <input formControlName="sortOrder"
                                    [ngClass]="submitted && postForm.get('sortOrder')?.errors ? 'ant-input-status-error ng-invalid' : ''"
                                    nz-input class="w-full" nzSize="large" placeholder="Thứ tự" type="number" min="1"
                                    step="1" />
                            </div>
                        </div>

                        <div class="w-full px-[8px] mb-[16px]">
                            <label class="labelForm">Nội dung bài viết <span class="text-[#ff0000]">*</span></label>

                            <app-digitop-editor class="textEditor w-full" nzSize="large" [initData]="this.dataEditor"
                                (onChangeData)="onChangeEditor($event)" (onChangeText)="onChangeText($event)"
                                placeHolder="Nội dung"></app-digitop-editor>
                        </div>

                        <div class="w-full px-[8px]">
                            <label class="labelForm">Mô tả bài viết <span class="text-[#ff0000]">*</span></label>

                            <nz-textarea-count>
                                <textarea class="w-full" nzSize="large" [ngClass]="
                              submitted && postForm.get('shortDescription')?.errors ? 'ant-input-status-error ng-invalid' : ''
                           " rows="4" formControlName="shortDescription" nz-input
                                    placeholder="Nhập thông tin"></textarea>
                            </nz-textarea-count>
                        </div>
                    </div>
                </div>
            </div>

            <div class="SeoContent">
                <div
                    class="text-[16px] text-blue-100 font-bold py-[16px] border-y border-[#f2f2f2] flex justify-between items-center">
                    <div class="text-[16px] text-blue-100 font-bold px-[16px] flex items-center">Gallery</div>
                    <a (click)="addLine()"
                        class="text-[white] w-[120px] flex lg:w-[150px] justify-center items-center py-[8px] px-[8px] lg:py-[16px] lg:px-[20px] hover:bg-pink-100 bg-blue-100 font-bold hover:text-[white] mr-[16px] duration-300 mb-[16px]">Add
                        Gallery</a>
                </div>
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-8 gap-4">
                    <div formArrayName="gallery" *ngFor="let gallery of galleries.controls; let i = index"
                        class="relative">
                        <div [formGroupName]="i" class="border-dashed border-2 border-sky-500 p-[16px]">
                            <div class="w-full">
                                <app-digitop-upload [fileList]="[gallery?.value]"
                                    [title]="'Desktop Image'" CENSORSHIP class="w-full" [isUsingFormArray]="true"
                                    (changeFile)="changeFileUploadForm($event,i)"
                                    [multiple]="false"></app-digitop-upload>
                                <!-- <div *ngIf="submitted && gallery.get('galleryImage')?.errors" class="input-text-error">
                                    <span>Image not blank</span>
                                </div> -->
                            </div>
                            <a class="text-[white] absolute top-0 right-0 w-[29px] flex items-center py-[8px] px-[8px] bg-pink-100 hover:bg-blue-100 font-bold hover:text-[white]"
                                (click)="removeLine(i)">
                                <span nz-icon nzType="delete"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="SeoContent">
                <div class="text-[16px] text-blue-100 font-bold px-[16px] py-[16px] border-y border-[#f2f2f2]">SEO
                    Content </div>
                <div class="p-[16px]">
                    <div class="flex flex-wrap mx-[-8px]">
                        <div class="w-1/12 px-[8px] mb-[16px] tl-p:w-full">
                            <app-digitop-upload [fileList]="metaImage" [title]="'Hình ảnh'" CENSORSHIP
                                (changeFile)="changeFileUpload($event, 'image')" class="w-full"
                                [multiple]="false"></app-digitop-upload>
                        </div>

                        <div class="w-11/12 px-[8px] mb-[16px] tl-p:w-full">
                            <div class="flex flex-wrap mx-[-8px]">
                                <div class="w-1/2 px-[8px] mb-[16px] tl-p:w-full">
                                    <label class="labelForm">Tiêu đề <span class="text-[#ff0000]">*</span></label>
                                    <input formControlName="metaTitle" [ngClass]="
                                 submitted && postForm.get('sortOrder')?.errors ? 'ant-input-status-error ng-invalid' : ''
                              " nz-input class="w-full" nzSize="large" placeholder="Nhập thông tin" type="text" />
                                </div>

                                <div class="w-1/2 px-[8px] mb-[16px] tl-p:w-full">
                                    <label class="labelForm">Từ khóa <span class="text-[#ff0000]">*</span></label>
                                    <input formControlName="metaKeyword" [ngClass]="
                                 submitted && postForm.get('sortOrder')?.errors ? 'ant-input-status-error ng-invalid' : ''
                              " nz-input class="w-full" nzSize="large" placeholder="Nhập thông tin" type="text" />
                                </div>

                                <div class="w-full px-[8px] mb-[16px]">
                                    <label class="labelForm">Mô tả <span class="text-[#ff0000]">*</span></label>
                                    <textarea class="w-full" nzSize="large" rows="4" formControlName="metaDescription"
                                        nz-input placeholder="Nhập thông tin"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button (click)="onSEO()" class="item btnBlue">Để xuất SEO</button>
                </div>
            </div>

            <div class="listBtn pt-[16px] px-[20px] border-t border-[#f2f2f2]">
                <div class="flex items-center justify-between">
                    <button class="item btnGrey">hủy</button>

                    <div class="flex items-center space-x-[8px]">
                        <label class="labelForm !mb-0">Bài viết nổi bật</label>
                        <nz-switch formControlName="feature"> </nz-switch>
                        <button (click)="onSave('view')" class="item btnBlue">xem trước</button>
                        <button (click)="onSave('published')" class="item btnPink">hoàn thành</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <button *ngIf="this.content" (click)="toggleResultModal()" nz-button nzType="primary" [nzSize]="'large'"
        nzShape="circle" style="position: fixed; right: 20px; bottom: 30px; overflow: hidden;">
        <img src="assets/chat.svg" alt="chatcms"
            style="width: 44px; object-fit: fill; border-radius: 50%; margin-top: -8px;" />
    </button>
    <app-result-seo-check #resultModal [content]="content"></app-result-seo-check>
    <div class="wrap-loading" *ngIf="isLoadingSEO">
        <div class="card">
            <img src="assets/chat.svg" alt="chatcms" style="width: 42px" />
            <p><b>CHATGPT</b> đang soạn văn bản</p>
            <p>
                Tips: có thể bạn chưa biết, soạn thảo 1 văn bản bằng ChatGPT sẽ mất
                khoảng 15s - 30s
            </p>
            <div class="loader">
                <div class="spin"></div>
                <div class="bounce"></div>
            </div>
        </div>
    </div>

</div>
<app-editor-create-post-category #createCategory (onSuccess)="getCategories()"></app-editor-create-post-category>
<app-create-edit-tag #createTag [isCreate]="true" (onSuccess)="getTag()"></app-create-edit-tag>