<!-- <button nz-button nzType="primary" (click)="open()">
  <span nz-icon nzType="plus"></span>
  Tạo mới
</button> -->
<a class="text-[white] lg:w-[150px] w-full flex justify-center py-[16px] px-[20px] bg-pink-100 hover:bg-blue-100 font-bold hover:text-[white]"
  (click)="open()">
  Tạo mới
</a>
<app-digitop-drawer [title]="state + ' Award'" [visible]="visible" [size]="size"
  (onConfirm)="confirmDrawer()" (onLeave)="close()">
  <ng-container content>
    <nz-spin [nzSpinning]="isLoading">
      <form nz-form [nzLayout]="'inline'" [formGroup]="categoryForm" (ngSubmit)="confirmDrawer()">
        <div nz-row [nzGutter]="[hGutter, vGutter]">
          <div nz-col class="gutter-row" [nzSpan]="24">
            <app-digitop-upload [fileList]="[categoryForm.get('image')?.value]" [title]="'Hình ảnh'"
                  CENSORSHIP (changeFile)="changeFileUpload($event, 'image')" class="w-full"
                  [isUsingFormArray]="true" [multiple]="false"></app-digitop-upload>
          </div>
        </div>
        <div nz-row [nzGutter]="[hGutter, vGutter]">
          <div nz-col class="gutter-row" [nzSpan]="12">
            <nz-form-item>
              <nz-form-control>
                <nz-form-label [nzSpan]="'vertical'">Trạng thái <span class="required">(*)</span></nz-form-label>
                <nz-select ngDefaultControl formControlName="active" [(ngModel)]="this.dataActive">
                  <nz-option [nzValue]="false" nzLabel="Tạm khoá"></nz-option>
                  <nz-option [nzValue]="true" nzLabel="Hoạt động"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="12">
            <nz-form-item>
              <nz-form-control>
                <nz-form-label [nzSpan]="'vertical'">Thứ tự <span class="required">(*)</span></nz-form-label>
                <nz-input-group>
                  <input formControlName="sortOrder" [ngClass]="
                                 submitted && categoryForm.get('sortOrder')?.errors ? 'ant-input-status-error ng-invalid' : ''
                              " nz-input placeholder="Thứ tự" type="number" min="1" step="1" />
                </nz-input-group>
                <div *ngIf="submitted && categoryForm.get('sortOrder')?.errors" class="input-text-error">
                  <span>Vui lòng nhập số thứ tự</span>
                </div>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="12">
            <nz-form-item>
              <nz-form-control>
                <nz-form-label [nzSpan]="'vertical'">Sub title<span class="required">(*)</span></nz-form-label>
                <nz-input-group>
                  <input formControlName="subTitle" [ngClass]="
                                 submitted && categoryForm.get('subTitle')?.errors ? 'ant-input-status-error ng-invalid' : ''
                              " nz-input placeholder="Sub title"/>
                </nz-input-group>
                <div *ngIf="submitted && categoryForm.get('subTitle')?.errors" class="input-text-error">
                  <span>Vui lòng nhập tên tiêu đề</span>
                </div>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="12">
            <nz-form-item>
              <nz-form-control>
                <nz-form-label [nzSpan]="'vertical'">Year<span class="required">(*)</span></nz-form-label>
                <nz-input-group>
                  <input formControlName="year" [ngClass]="
                                 submitted && categoryForm.get('year')?.errors ? 'ant-input-status-error ng-invalid' : ''
                              " nz-input placeholder="2023"/>
                </nz-input-group>
                <div *ngIf="submitted && categoryForm.get('year')?.errors" class="input-text-error">
                  <span>Vui lòng nhập tên tiêu đề</span>
                </div>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="12">
            <nz-form-item>
              <nz-form-control>
                <nz-form-label [nzSpan]="'vertical'">Title <span class="required">(*)</span></nz-form-label>
                <nz-input-group>
                  <input formControlName="title" [ngClass]="
                                 submitted && categoryForm.get('title')?.errors ? 'ant-input-status-error ng-invalid' : ''
                              " nz-input placeholder="Tiêu đề" (ngModelChange)="onChangeTitle('vi')" />
                </nz-input-group>
                <div *ngIf="submitted && categoryForm.get('title')?.errors" class="input-text-error">
                  <span>Vui lòng nhập tên tiêu đề</span>
                </div>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="12">
            <nz-form-item>
              <nz-form-control>
                <nz-form-label [nzSpan]="'vertical'">Slug <span class="required">(*)</span></nz-form-label>
                <nz-input-group>
                  <input class="disabled-ip" formControlName="slug" nz-input placeholder="Tên slug" readonly />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="24">
            <nz-form-item>
                <nz-form-control>
                    <nz-form-label [nzSpan]="'vertical'">Client <span
                            class="required">(*)</span></nz-form-label>
                    <nz-input-group>
                        <input formControlName="client" [ngClass]="
                     submitted && categoryForm.get('client')?.errors ? 'ant-input-status-error ng-invalid' : ''
                  " nz-input placeholder="Client" />
                    </nz-input-group>
                    <div *ngIf="submitted && categoryForm.get('client')?.errors" class="input-text-error">
                        <span>Client can not blank</span>
                    </div>
                </nz-form-control>
            </nz-form-item>
        </div>
        </div>
      </form>
    </nz-spin>
  </ng-container>
</app-digitop-drawer>