<div class="bg-[white] p-[16px] mt-[16px] rounded-t-lg">
  <form [formGroup]="filterForm" style="margin-top: 20px;">
    <div class="flex w-full">
      <form [formGroup]="filterForm" class="lg:flex w-full">
        <div class="w-12/12 lg:w-11/12 lg:flex gap-4">
          <div class="w-12/12 lg:w-3/12 pt-[16px] lg:pt-0">
            <input nzSize="large" class="w-full" formControlName="email" nz-input type="text" placeholder="Email" />
          </div>

          <div class="w-12/12 lg:w-3/12 pt-[16px] lg:pt-0">
            <nz-select formControlName="status" style="width: 100%;" nzSize="large">
              <nz-option nzValue="true" nzLabel="Active"></nz-option>
              <nz-option nzValue="false" nzLabel="Unactive"></nz-option>
            </nz-select>
          </div>
          <div class="w-12/12 lg:w-3/12 pt-[16px] lg:pt-0">
            <nz-input-group>
              <nz-date-picker  nzSize="large"
                  nzFormat="yyyy-MM-dd"
                  formControlName="createdFrom"
                  style="width: 100%;"
              ></nz-date-picker>
            </nz-input-group>
          </div>
          <div class="w-12/12 lg:w-3/12 pt-[16px] lg:pt-0">
            <nz-input-group>
              <nz-date-picker  nzSize="large"
                  nzFormat="yyyy-MM-dd"
                  formControlName="createdTo"
                  style="width: 100%;"
              ></nz-date-picker>
            </nz-input-group>
          </div>
        </div>
        <div class="w-12/12 lg:w-1/12 ml-[8px] flex justify-center pt-[16px] lg:pt-0">
          <a class="text-[white] text-[12px] items-center flex justify-center rounded-lg uppercase w-full py-[8px] px-[16px] bg-pink-100 hover:bg-blue-100 font-bold hover:text-[white]" (click)="onApply()">
            Tìm kiếm
          </a>
        </div>
    </form>
</div>