:host {
    display: flex;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .profile-action {
    display: flex;
    align-items: center;
    .chat-cms {
      padding: 0 16px;
      cursor: pointer;
    }
  }
  .app-layout {
    height: 100vh;
  }
  .body-content {
    padding-left: 80px;
  }
  
  //scrollbar
  ::-webkit-scrollbar {
    width: 5px;    
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .menu-sidebar {
    overflow: auto;
    position: fixed;
    z-index: 10;
    height: 100%;
    min-height: 100vh;
    box-shadow: 2px 0 6px rgba(0,21,41,.35);
  }
  .profile {
    padding-right: 24px;
    display: flex;
    height: 100%;
    background: #eaeaea;
    align-items: center;
    padding-left: 16px;
    padding-top: 11px;
    padding-bottom: 11px;
    .group-user {
      line-height: 1.3;
      padding-top: 5px;
      text-align: left;
      padding-left: 8px;
      .username {
        font-weight: bold;
      }
    }
  }
  .header-trigger {
    padding: 20px 24px;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s,padding 0s;
  }
  
  .trigger:hover {
    color: #1890ff;
  }
  
  .sidebar-logo {
    position: relative;
    // height: 64px;
    overflow: hidden;
    text-align: center;
    line-height: 64px;
    transition: all .3s;
    border-bottom: 1px solid #f6f6f6;
  }
  
  .sidebar-logo img {
    display: inline-block;
    // height: 42px;
    // width: 42px;
    vertical-align: middle;
  }

  .w-260 {
    padding-left: 256px;
    transition: 0.1s;
  }

  
  .sidebar-logo h1 {
    display: inline-block;
    margin: 0 0 0 20px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
    vertical-align: middle;
  }
  
  nz-header {
    padding: 0;
    width: 100%;
    z-index: 2;
  }
  
  .app-header {
    width: 100%;
    height: 64px;
    padding: 0;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .inner-content {
    padding: 24px;
    background: #fff;
    height: 100%;
    border-radius: 8px;
  }
  .ant-layout-header {
    position: sticky;
    top: 0;
  }
  .ant-row {
    width: 100%;
    margin: 0 !important;
}
.filter {
    margin: 0 0 20px 0;
}
[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
}
.ant-picker-range {
    width: 100%;
}
.filter-group {
    // padding-top: 16px;
    display: flex;
    justify-content: end;
    padding-right: 0 !important;
}
.head-table {
    align-items: center;
}

$master: 16px; /* Everything scales off of this! */
$background: #e3e3e3;
$cardbackground: #fbfbfb;
$cardhoverbackground: #fff;
$color: #111;
$margin: ($master / 2) 0 ($master + ($master / 2)) 0;
$shadow: 0 2px 3px rgba(0,0,0,0.1);
$hovershadow: 0 4px 6px rgba(0,0,0,0.2);
.wrap-loading {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgb(56 56 56 / 59%);
  z-index: 1001;
  overflow: hidden;
}
html, body {
	background: $background;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	width: 100%;
}

body {
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
	scrollbar-width: thin;          /* "auto" or "thin" */
  	scrollbar-color: #3673E8;   
}

*,
*:after,
*:before {
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
					transition: all 0.3s;
}

.card {
	background: $cardbackground;
	border-radius: 0.15em;
	box-shadow: $shadow;
	float: left;
	font-size: $master;
	left: 50%;
	margin: 0 auto;
	padding: ($master + ($master / 2)) ($master * 2);
	position: fixed;
	text-align: center;
	top: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
					transform: translateY(-50%) translateX(-50%);
	width: ($master * 20);
	
	&:hover {
		background: $cardhoverbackground;
		box-shadow: $hovershadow;
	}
	
	h1 {
		color: $color;
		font-size: ($master + ($master / 2));
		font-weight: 400;
		margin: $margin;
		text-align: center;
	}
	
	p {
		color: lighten($color, 12%);
		font-weight: 300;
		line-height: ($master + ($master / 2));
		margin: $margin;
		text-align: center;
	}
	
	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		10% {
			transform: rotate(0deg);
		}
		20% {
			transform: rotate(90deg);
		}
		35% {
			transform: rotate(90deg);
		}
		45% {
			transform: rotate(180deg);
		}
		60% {
			transform: rotate(180deg);
		}
		75% {
			transform: rotate(270deg);
		}
		85% {
			transform: rotate(270deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	@-webkit-keyframes spin {
		0% {
			-webkit-transform: rotate(0deg);
		}
		10% {
			-webkit-transform: rotate(0deg);
		}
		20% {
			-webkit-transform: rotate(90deg);
		}
		35% {
			-webkit-transform: rotate(90deg);
		}
		45% {
			-webkit-transform: rotate(180deg);
		}
		60% {
			-webkit-transform: rotate(180deg);
		}
		75% {
			-webkit-transform: rotate(270deg);
		}
		85% {
			-webkit-transform: rotate(270deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
		}
	}

	@keyframes bounce {
		0% {
			transform: scaleX(1);
		}
		10% {
			transform: scaleX(1);
		}
		20% {
			transform: scaleX(0.8);
		}
		35% {
			transform: scaleX(0.8);
		}
		45% {
			transform: scaleX(1);
		}
		60% {
			transform: scaleX(1);
		}
		75% {
			transform: scaleX(0.8);
		}
		85% {
			transform: scaleX(0.8);
		}
		100% {
			transform: scaleX(1);
		}
	}

	@-webkit-keyframes bounce {
		0% {
			-webkit-transform: scaleX(1);
		}
		10% {
			-webkit-transform: scaleX(1);
		}
		20% {
			-webkit-transform: scaleX(0.8);
		}
		35% {
			-webkit-transform: scaleX(0.8);
		}
		45% {
			-webkit-transform: scaleX(1);
		}
		60% {
			-webkit-transform: scaleX(1);
		}
		75% {
			-webkit-transform: scaleX(0.8);
		}
		85% {
			-webkit-transform: scaleX(0.8);
		}
		100% {
			-webkit-transform: scaleX(1);
		}
	}
	
	.loader {
		box-sizing: content-box;
		height: 40px;
		margin: 0 auto 10px auto;
		position: relative;
		width: 70px;

		&:before {
			border: 2px solid $color;
			box-sizing: content-box;
			content: '';
			height: 0;
			left: 50%;
			position: absolute;
			top: 50%;
			-webkit-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
			width: 0;
		}

		.spin {
			-webkit-animation: spin 2.25s linear infinite;
			animation: spin 2.25s linear infinite;
			height: 14px;
			left: 28px;
			position: absolute;
			top: 13px;
			width: 14px;

			&:before {
				border: 3px solid $color;
				box-sizing: content-box;
				content: '';
				height: 14px;
				left: 50%;
				position: absolute;
				top: 50%;
				-webkit-transform: translate(-50%, -50%) rotate(45deg);
				transform: translate(-50%, -50%) rotate(45deg);
				width: 14px;
			}
		}

		.bounce {
			-webkit-animation: bounce 2.25s linear infinite;
			animation: bounce 2.25s linear infinite;
			height: 100%;
			margin: 0 auto;
			position: relative;
			width: 100%;

			&:after,
			&:before {
				box-sizing: content-box;
				content: '';
				height: 10px;
				position: absolute;
				top: 13px;
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
				width: 10px;
			}

			&:before {
				border-bottom: 3px solid $color;
				border-left: 3px solid $color;
				left: 0;
			}

			&:after {
				border-right: 3px solid $color;
				border-top: 3px solid $color;
				right: 0;
			}
		}
	}
}
