<nz-layout class="app-layout" (keydown)="handleKeyDown($event)" tabindex="0">
   <nz-sider nzTheme="light" class="menu-sidebar tl-p:!hidden" nzCollapsible nzWidth="256px"
      [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="sidebar-logo">
         <a href="/admin">
            <img src="assets/logo.svg" alt="logo" />
         </a>
      </div>
      <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
         <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [routerLink]="'/admin'">
            <span nz-icon nzType="pie-chart"></span>
            <span class="text-[12px] text-second-100 font-bold">Dashboard</span>
         </li>
         <!-- <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [routerLink]="'menus'"
        >
        <span nz-icon nzType="menu"></span>
        <span>Menu</span>
      </li> -->
         <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [routerLink]="'category-work'"
            class="text-[12px] text-second-100 font-bold" routerLinkActive="ant-menu-item-selected"
            #rla="routerLinkActive" (click)="isCollapsed = !isCollapsed">
            <span nz-icon>
               <svg width="14" height="14" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path fill="#000000" d="m12 2l-5.5 9h11L12 2zm0 3.84L13.93 9h-3.87L12 5.84zM17.5 13c-2.49 0-4.5 2.01-4.5 4.5s2.01 4.5 4.5 4.5s4.5-2.01 4.5-4.5s-2.01-4.5-4.5-4.5zm0 7a2.5 2.5 0 0 1 0-5a2.5 2.5 0 0 1 0 5zM3 21.5h8v-8H3v8zm2-6h4v4H5v-4z"/>
              </svg>
            </span>
            <span class="text-[12px] text-second-100 font-bold">Category OurWork</span>
         </li>
         <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [routerLink]="'expertise'"
            class="text-[12px] text-second-100 font-bold" routerLinkActive="ant-menu-item-selected"
            #rla="routerLinkActive" (click)="isCollapsed = !isCollapsed">
            <span nz-icon nzType="unordered-list" nzTheme="outline"></span>           
            <span class="text-[12px] text-second-100 font-bold">Expertise</span>
         </li>
         <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [routerLink]="'award'"
            class="text-[12px] text-second-100 font-bold" routerLinkActive="ant-menu-item-selected"
            #rla="routerLinkActive" (click)="isCollapsed = !isCollapsed">
            <span nz-icon>
               <svg width="14" height="14" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <g fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                      <path d="M6 9a6 6 0 1 0 12 0A6 6 0 1 0 6 9"/>
                      <path d="m12 15l3.4 5.89l1.598-3.233l3.598.232l-3.4-5.889M6.802 12l-3.4 5.89L7 17.657l1.598 3.232l3.4-5.889"/>
                  </g>
              </svg>
            </span>
            <span class="text-[12px] text-second-100 font-bold">Award</span>
         </li>
         <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [routerLink]="'posts'"
            class="text-[12px] text-second-100 font-bold" routerLinkActive="ant-menu-item-selected"
            #rla="routerLinkActive" (click)="isCollapsed = !isCollapsed">
            <span nz-icon nzType="highlight" nzTheme="outline"></span>
            <span class="text-[12px] text-second-100 font-bold">News</span>
         </li>
         <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [routerLink]="'list-award'"
         class="text-[12px] text-second-100 font-bold" routerLinkActive="ant-menu-item-selected"
         #rla="routerLinkActive" (click)="isCollapsed = !isCollapsed">
         <span nz-icon nzType="file" nzTheme="outline"></span>
         <span class="text-[12px] text-second-100 font-bold">Post Award</span>
         </li>
         <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [routerLink]="'pages'"
            class="text-[12px] text-second-100 font-bold" routerLinkActive="ant-menu-item-selected"
            #rla="routerLinkActive">
            <span nz-icon nzType="pic-left" nzTheme="outline"></span>
            <span class="text-[12px] text-second-100 font-bold">Pages</span>
         </li>
         <li nz-submenu nzTitle="Administration" nzIcon="setting" class="text-[12px] text-second-100 font-bold"
            routerLinkActive="ant-menu-item-selected" #rla="routerLinkActive">
            <ul>
               <li nz-menu-item [routerLink]="'users'">
                  <a class="text-[12px] text-second-100 font-bold">Administrators</a>
               </li>
               <li nz-menu-item [routerLink]="'roles'">
                  <a class="text-[12px] text-second-100 font-bold">Roles</a>
               </li>
               <li nz-menu-item [routerLink]="'setting'">
                  <a class="text-[12px] text-second-100 font-bold">Setting</a>
               </li>
            </ul>
         </li>
         <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [routerLink]="'subscribers'"
            class="text-[12px] text-second-100 font-bold" routerLinkActive="ant-menu-item-selected"
            #rla="routerLinkActive">
            <span nz-icon nzType="bell" nzTheme="outline"></span>
            <span class="text-[12px] text-second-100 font-bold">Subscribers</span>
         </li>
         <!-- <li nz-submenu nzTitle="Marketing Mail" nzIcon="notification" class="text-[12px] text-second-100 font-bold"
            routerLinkActive="ant-menu-item-selected" #rla="routerLinkActive">
            <ul>
               <li nz-menu-item [routerLink]="'interests'">
                  <a class="text-[12px] text-second-100 font-bold">Interests</a>
               </li>
               <li nz-menu-item [routerLink]="'mail-lists'">
                  <a class="text-[12px] text-second-100 font-bold">Mail List</a>
               </li>
               <li nz-menu-item [routerLink]="'mail-schedules'">
                  <a class="text-[12px] text-second-100 font-bold">Mail Schedule</a>
               </li>
            </ul>
         </li> -->
         <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [routerLink]="'history'"
            routerLinkActive="ant-menu-item-selected" #rla="routerLinkActive">
            <span nz-icon nzType="history" nzTheme="outline"></span>
            <span class="text-[12px] text-second-100 font-bold">ChatGPT History</span>
         </li>
         <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [routerLink]="'activities'"
            routerLinkActive="ant-menu-item-selected" #rla="routerLinkActive">
            <span nz-icon nzType="check" nzTheme="outline"></span>
            <span class="text-[12px] text-second-100 font-bold">Activities</span>
         </li>
      </ul>
   </nz-sider>

   <nz-sider nzTheme="light" class="menu-sidebar relative hidden tl-p:!block" nzCollapsible nzWidth="100%"
      [nzCollapsedWidth]="0" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <span class="header-trigger absolute top-[25px] right-0 z-50" (click)="isCollapsed = !isCollapsed">
         <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
      </span>

      <div class="sidebar-logo" (click)="isCollapsed = !isCollapsed">
         <a href="/admin">
            <img src="assets/logo.svg" alt="logo" />
         </a>
      </div>
      <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
         <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [routerLink]="'/admin'"
            (click)="isCollapsed = !isCollapsed">
            <span nz-icon nzType="pie-chart"></span>
            <span class="text-[12px] text-second-100 font-bold">Thống kê</span>
         </li>
         <!-- <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [routerLink]="'menus'"
        >
        <span nz-icon nzType="menu"></span>
        <span>Menu</span>
      </li> -->
         <li nz-submenu nzTitle="Tin tức" nzIcon="highlight" class="text-[12px] text-second-100 font-bold"
            routerLinkActive="ant-menu-item-selected" #rla="routerLinkActive">
            <ul>
               <li nz-menu-item [routerLink]="'tags'" (click)="isCollapsed = !isCollapsed">
                  <a class="text-[12px] text-second-100 font-bold">Tag</a>
               </li>
               <li nz-menu-item [routerLink]="'post-category'" (click)="isCollapsed = !isCollapsed">
                  <a class="text-[12px] text-second-100 font-bold">Danh mục</a>
               </li>
               <li nz-menu-item [routerLink]="'posts'" (click)="isCollapsed = !isCollapsed">
                  <a class="text-[12px] text-second-100 font-bold">Bài viết</a>
               </li>
            </ul>
         </li>
         <li nz-submenu nzTitle="Quản trị" nzIcon="setting" class="text-[12px] text-second-100 font-bold"
            routerLinkActive="ant-menu-item-selected" #rla="routerLinkActive">
            <ul>
               <li nz-menu-item [routerLink]="'users'" (click)="isCollapsed = !isCollapsed">
                  <a class="text-[12px] text-second-100 font-bold">Quản trị viên</a>
               </li>
               <li nz-menu-item [routerLink]="'roles'" (click)="isCollapsed = !isCollapsed">
                  <a class="text-[12px] text-second-100 font-bold">Quyền quản trị</a>
               </li>
            </ul>
         </li>
         <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [routerLink]="'subscribers'"
            class="text-[12px] text-second-100 font-bold" routerLinkActive="ant-menu-item-selected"
            #rla="routerLinkActive" (click)="isCollapsed = !isCollapsed">
            <span nz-icon nzType="bell" nzTheme="outline"></span>
            <span class="text-[12px] text-second-100 font-bold">Người đăng ký</span>
         </li>
         <li nz-submenu nzTitle="Marketing Mail" nzIcon="notification" class="text-[12px] text-second-100 font-bold"
            routerLinkActive="ant-menu-item-selected" #rla="routerLinkActive">
            <ul>
               <li nz-menu-item [routerLink]="'interests'" (click)="isCollapsed = !isCollapsed">
                  <a class="text-[12px] text-second-100 font-bold">Interests</a>
               </li>
               <li nz-menu-item [routerLink]="'mail-lists'" (click)="isCollapsed = !isCollapsed">
                  <a class="text-[12px] text-second-100 font-bold">Mail List</a>
               </li>
               <li nz-menu-item [routerLink]="'mail-schedules'" (click)="isCollapsed = !isCollapsed">
                  <a class="text-[12px] text-second-100 font-bold">Mail Schedule</a>
               </li>
            </ul>
         </li>
         <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [routerLink]="'history'"
            routerLinkActive="ant-menu-item-selected" #rla="routerLinkActive" (click)="isCollapsed = !isCollapsed">
            <span nz-icon nzType="history" nzTheme="outline"></span>
            <span class="text-[12px] text-second-100 font-bold">Lịch sử chatGPT</span>
         </li>
         <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [routerLink]="'activities'"
            routerLinkActive="ant-menu-item-selected" #rla="routerLinkActive" (click)="isCollapsed = !isCollapsed">
            <span nz-icon nzType="check" nzTheme="outline"></span>
            <span class="text-[12px] text-second-100 font-bold">Activities</span>
         </li>
      </ul>

      <div class="px-[20px]">
         <nz-input-group style="cursor: pointer; position: relative" [nzSuffix]="suffixIconSearch" style="width: 100%"
            (click)="openModalChatGPT()" class="group">
            <div class="flex items-center">
               <span nz-icon nzType="search"></span>
               <p class="ml-[10px]">ChatGPT ⌘ + K or Ctrl + K</p>
            </div>

            <div
               class="px-[20px] absolute w-fit h-full top-0 right-0 bg-pink-100 flex items-center rounded-[5px] group-hover:bg-blue-100 duration-300">
               <p class="text-[12px] text-[#fff] font-semibold uppercase">Search</p>
            </div>

            <!-- <input type="text" nz-input placeholder="ChatGPT ⌘ + K or Ctrl + K" disabled="true" style="cursor: pointer" /> -->
         </nz-input-group>
         <ng-template #suffixIconSearch>
            <!-- <span nz-icon nzType="search"></span> -->
         </ng-template>
      </div>
   </nz-sider>

   <nz-layout class="body-content tl-p:!p-0" [ngClass]="{ 'w-260': !isCollapsed }">
      <nz-header>
         <div class="logo"></div>
         <div class="app-header" [ngClass]="{ 'w-260': !isCollapsed }">
            <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
               <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
            </span>
            <div class="w-[50%] tl-p:hidden">
               <nz-input-group style="cursor: pointer; position: relative" [nzSuffix]="suffixIconSearch"
                  style="width: 100%" (click)="openModalChatGPT()" class="group">
                  <div class="flex items-center">
                     <span nz-icon nzType="search"></span>
                     <p class="ml-[10px]">ChatGPT ⌘ + K or Ctrl + K</p>
                  </div>

                  <div
                     class="px-[20px] absolute w-fit h-full top-0 right-0 bg-pink-100 flex items-center rounded-[5px] group-hover:bg-blue-100 duration-300">
                     <p class="text-[12px] text-[#fff] font-semibold uppercase">Search</p>
                  </div>

                  <!-- <input type="text" nz-input placeholder="ChatGPT ⌘ + K or Ctrl + K" disabled="true" style="cursor: pointer" /> -->
               </nz-input-group>
               <ng-template #suffixIconSearch>
                  <!-- <span nz-icon nzType="search"></span> -->
               </ng-template>
            </div>

            <div class="hidden tl-p:block">
               <a href="/admin">
                  <img src="assets/logo.svg" alt="logo" />
               </a>
            </div>

            <div class="profile-action">
               <!-- <button nz-button style="border: none; margin-right: 15px; margin-top: 8px;" (click)="toggleDarkMode()">
            <img *ngIf="isDarkMode" src="assets/sun.svg" alt="">
            <img *ngIf="!isDarkMode" src="assets/moon.svg" alt="">
          </button> -->
               <!-- <a nz-button nzType="primary" class="item" style="margin: 0" [routerLink]="'news'"> Tạo bài viết </a> -->
               <div class="chat-cms">
                  <nz-badge [nzDot]="true" [nzShowDot]="isBadge">
                     <img src="assets/bell.gif" alt="chatcms" style="width: 42px" nz-dropdown nzTrigger="click"
                        [nzDropdownMenu]="menuNotification" />
                  </nz-badge>
                  <!-- <img *ngIf="!isBadge" src="assets/bell.gif" alt="chatcms" style="width: 42px;" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menuNotification"> -->
                  <nz-dropdown-menu #menuNotification="nzDropdownMenu">
                     <app-modal-notification #notification [content]="contentNotification"
                        (isNew)="toggleBadge($event)"></app-modal-notification>
                  </nz-dropdown-menu>
               </div>
               <!-- <div class="chat-cms">
            <img src="assets/chat.svg" alt="chatcms" style="width: 32px;">
          </div> -->
               <div class="profile group" nz-dropdown [nzDropdownMenu]="menu" style="cursor: pointer">
                  <nz-avatar nzSize="large" [nzSrc]="
                        user.profileImage ||
                        'https://themes.themesbrand.com/velzon/angular/default/assets/images/users/avatar-1.jpg'
                     " style="vertical-align: middle"></nz-avatar>
                  <div
                     class="w-[20px] h-[20px] flex items-center justify-center bg-[#4F4F4F] rounded-[50%] ml-[5px] tl-p:hidden">
                     <img src="assets/icons/icon-triangle.svg" alt="" />
                  </div>
                  <!-- <div class="group-user">
                     <div class="username">
                        <span>{{ user?.name }}</span>
                     </div>
                     <div class="role">
                        <span>{{ user?.role.name }}</span>
                     </div>
                  </div> -->
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                     <ul nz-menu>
                        <li nz-menu-item (click)="visible = true">
                           <a style="color: black">Personal Information</a>
                        </li>
                        <li nz-menu-item>
                           <a href="/" style="color: black">Log Out</a>
                        </li>
                     </ul>
                  </nz-dropdown-menu>
               </div>
            </div>
         </div>
      </nz-header>
      <nz-content>
         <div class="inner-content relative">
            <router-outlet></router-outlet>
            <div class="footer absolute bottom-0 left-0 w-full p-[20px] bg-pink-100">
               <div class="flex flex-wrap items-center justify-between">
                  <p class="font-medium text-white text-[12px] uppercase tracking-[2px] mb:mb-[10px]">
                     Copyright ©2022 tose. All rights reserved.
                  </p>
                  <div class="flex items-center space-x-[15px]">
                     <p class="font-medium text-white text-[12px] uppercase tracking-[2px]">Follow us</p>
                     <div
                        class="w-[40px] h-[40px] flex items-center justify-center border border-white rounded-[50%] hover:bg-blue-100 hover:border-blue-100 duration-300 cursor-pointer">
                        <img src="assets/icons/icon-fb.svg" alt="" />
                     </div>
                     <div
                        class="w-[40px] h-[40px] flex items-center justify-center border border-white rounded-[50%] hover:bg-blue-100 hover:border-blue-100 duration-300 cursor-pointer">
                        <img src="assets/icons/icon-yt.svg" alt="" />
                     </div>
                     <div
                        class="w-[40px] h-[40px] flex items-center justify-center border border-white rounded-[50%] hover:bg-blue-100 hover:border-blue-100 duration-300 cursor-pointer">
                        <img src="assets/icons/icon-ins.svg" alt="" />
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </nz-content>
   </nz-layout>
</nz-layout>

<app-digitop-drawer [title]="'Personal Information'" [visible]="visible" [size]="'large'" (onConfirm)="confirmDrawer()"
   (onLeave)="visible = false">
   <ng-container content>
      <nz-spin [nzSpinning]="isLoading">
         <form nz-form [nzLayout]="'inline'" [formGroup]="userForm" (ngSubmit)="confirmDrawer()">
            <div nz-row [nzGutter]="[hGutter, vGutter]">
               <div nz-col class="gutter-row" [nzSpan]="12">
                  <nz-form-item>
                     <nz-form-control>
                        <app-digitop-upload [fileList]="profileImage" [title]="'Profile Image'"
                           (changeFile)="changeFileUpload($event, 'profileImage')"
                           [multiple]="false"></app-digitop-upload>
                     </nz-form-control>
                  </nz-form-item>
               </div>
            </div>
            <nz-divider></nz-divider>
            <div nz-row [nzGutter]="[hGutter, vGutter]">
               <div nz-col class="gutter-row" [nzSpan]="12">
                  <nz-form-item>
                     <nz-form-control>
                        <nz-form-label [nzRequired]="true" [nzSpan]="'vertical'">Role</nz-form-label>
                        <nz-select formControlName="role">
                           <nz-option nzLabel="Chọn role" nzValue=""> </nz-option>
                           <nz-option *ngFor="let item of roleList" nzLabel="{{ item.name }}"
                              nzValue="{{ item.value }}">
                           </nz-option>
                        </nz-select>
                        <div *ngIf="submitted && userForm.get('role')?.errors" class="input-text-error">
                           <span>Please select role</span>
                        </div>
                     </nz-form-control>
                  </nz-form-item>
               </div>
               <div nz-col class="gutter-row" [nzSpan]="12">
                  <nz-form-item>
                     <nz-form-control>
                        <nz-form-label [nzSpan]="'vertical'">Is active</nz-form-label>
                        <br />
                        <nz-switch [(ngModel)]="statusValue" formControlName="active"> </nz-switch>
                     </nz-form-control>
                  </nz-form-item>
               </div>
            </div>
            <div nz-row [nzGutter]="[hGutter, vGutter]">
               <div nz-col class="gutter-row" [nzSpan]="12">
                  <nz-form-item>
                     <nz-form-control>
                        <nz-form-label [nzRequired]="true" [nzSpan]="'vertical'">Name</nz-form-label>
                        <nz-input-group>
                           <input formControlName="name"
                              [ngClass]="submitted && userForm.get('name')?.errors ? 'ant-input-status-error ng-invalid' : ''"
                              nz-input placeholder="Name" />
                        </nz-input-group>
                        <div *ngIf="submitted && userForm.get('name')?.errors?.['required']" class="input-text-error">
                           <span>Please enter name</span>
                        </div>
                        <div *ngIf="
                              submitted &&
                              (userForm.get('name')?.errors?.['minlength'] || userForm.get('name')?.errors?.['maxlength'])
                           " class="input-text-error">
                           <span>Name range from 5 to 255 characters!</span>
                        </div>
                     </nz-form-control>
                  </nz-form-item>
               </div>
               <div nz-col class="gutter-row" [nzSpan]="12">
                  <nz-form-item>
                     <nz-form-control>
                        <nz-form-label [nzRequired]="true" [nzSpan]="'vertical'">Email</nz-form-label>
                        <nz-input-group>
                           <input formControlName="email"
                              [ngClass]="submitted && userForm.get('email')?.errors ? 'ant-input-status-error ng-invalid' : ''"
                              nz-input placeholder="Email" />
                        </nz-input-group>
                        <div *ngIf="submitted && userForm.get('email')?.errors?.['required']" class="input-text-error">
                           <span>Please enter email</span>
                        </div>
                        <div *ngIf="submitted && userForm.get('email')?.errors?.['pattern']" class="input-text-error">
                           <span>Please enter email format</span>
                        </div>
                     </nz-form-control>
                  </nz-form-item>
               </div>
            </div>
            <div nz-row [nzGutter]="[hGutter, vGutter]">
               <div nz-col class="gutter-row" [nzSpan]="12">
                  <nz-form-item>
                     <nz-form-control>
                        <nz-form-label [nzSpan]="'vertical'">Password</nz-form-label>
                        <nz-input-group>
                           <input type="password" formControlName="password" autocomplete="false"
                              [ngClass]="submitted && userForm.get('password')?.errors ? 'ant-input-status-error ng-invalid' : ''"
                              nz-input placeholder="Password" />
                        </nz-input-group>
                        <div *ngIf="submitted && userForm.get('password')?.errors?.['required']"
                           class="input-text-error">
                           <span>Please enter password</span>
                        </div>
                        <div *ngIf="
                              (submitted && userForm.get('password')?.errors?.['minlength']) ||
                              userForm.get('password')?.errors?.['maxlength']
                           " class="input-text-error">
                           <span>Password range from 6 to 255 characters!</span>
                        </div>
                     </nz-form-control>
                  </nz-form-item>
               </div>
               <div nz-col class="gutter-row" [nzSpan]="12">
                  <nz-form-item>
                     <nz-form-control>
                        <nz-form-label [nzSpan]="'vertical'">Confirm password</nz-form-label>
                        <nz-input-group>
                           <input type="password" formControlName="confirmPassword" autocomplete="false" [ngClass]="
                                 submitted &&
                                 (userForm.get('confirmPassword')?.errors ||
                                    userForm.controls['confirmPassword'].value !== userForm.controls['password'].value)
                                    ? 'ant-input-status-error ng-invalid'
                                    : ''
                              " nz-input placeholder="Confirm password" />
                        </nz-input-group>
                        <div *ngIf="submitted && userForm.get('confirmPassword')?.errors" class="input-text-error">
                           <span>Please enter confirm password</span>
                        </div>
                        <div
                           *ngIf="submitted && userForm.controls['confirmPassword'].value !== userForm.controls['password'].value"
                           class="input-text-error">
                           <span>Password does not match</span>
                        </div>
                     </nz-form-control>
                  </nz-form-item>
               </div>
            </div>
         </form>
      </nz-spin>
   </ng-container>
</app-digitop-drawer>

<app-modal-chatgpt #chatgpt (prompt)="promtToAICHATGPT($event)"></app-modal-chatgpt>
<app-modal-chatgpt-response #chatgptRS [content]="contentRs"></app-modal-chatgpt-response>
<div class="wrap-loading" *ngIf="isLoadingGPT">
   <div class="card">
      <img src="assets/chat.svg" alt="chatcms" style="width: 42px" />
      <p><b>CHATGPT</b> đang soạn văn bản</p>
      <p>Tips: có thể bạn chưa biết, soạn thảo 1 văn bản bằng ChatGPT sẽ mất khoảng 15s</p>
      <div class="loader">
         <div class="spin"></div>
         <div class="bounce"></div>
      </div>
   </div>
</div>