<nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>Name</th>
        <th>Activity</th>
        <th>Method</th>
        <!-- <th>Action</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.user?.name }}</td>
        <td>{{ data?.message_vi }}</td>
        <td>{{ data?.method }}</td>
        <!-- <td>
          <a>Action 一 {{ data.name }}</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>Delete</a>
        </td> -->
      </tr>
    </tbody>
  </nz-table>