<div class="category" #mainScreen>
    <div class="pl-0 w-12/12 flex w-full justify-between items-center">
        <h3 style="padding-top: 6px; padding-left: 0" class="titlePage">Post Awards ({{ paginator.total }})
        </h3>
        <div class="flex justify-end items-center gap-4">
            <a
            href="/admin/post-award"
            class="text-[white] flex w-12/12 h-[44px] lg:w-[150px] justify-center items-center py-[8px] px-[8px] lg:py-[16px] lg:px-[20px] bg-pink-100 hover:bg-blue-100 font-bold hover:text-[white]"
         >
            Create
         </a>
        </div>
    </div>
    <div class="filter">
        <app-filter-post-award (onFilter)="onFilter($event)" [categories]="categories" [award]="award" [expertise]="expertise"></app-filter-post-award>
    </div>
    <div class="w-full rounded-b-lg overflow-hidden">
        <nz-table 
        (nzQueryParams)="tableChange($event)"
        #tableCategory
        [nzScroll]="{ y: 'calc(100vh - 310px)' }"
        [nzTotal]="paginator.total"
        [nzPageSize]="paginator.limit"
        [nzPageIndex]="paginator.currentPage"
        nzOuterBordered
        [nzData]="listCategory"
        nzTableLayout="fixed"
        [nzLoading]="tableLoading"
        nzShowSizeChanger
        [nzFrontPagination]="false">
            <thead>
                <tr class="lg:contents">
                    <th [nzSortFn]="true" [nzColumnKey]="'image'">Image</th>
                    <th [nzSortFn]="true" [nzColumnKey]="'title'">Title</th>
                    <th [nzSortFn]="true" [nzColumnKey]="'client'">Client</th>
                    <th [nzSortFn]="true" [nzColumnKey]="'category'">Category</th>
                    <th [nzSortFn]="true" [nzColumnKey]="'sortOrder'">Sort Order</th>
                    <!-- <th [nzSortFn]="true" [nzColumnKey]="'active'">Status</th> -->
                    <th [nzSortFn]="true" [nzColumnKey]="'createdAt'">Created At</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody *ngIf="listCategory?.length > 0">
                <ng-container *ngFor="let data of tableCategory.data" class="flex lg:contents">
                    <tr>
                        <td >
                            <img style="width: 100px; cursor: pointer" nz-image [nzSrc]="data.image" *ngIf="data.image"
                                alt="" />
                        </td>
                        <td>{{data?.title}}</td>
                        <td>{{ data.client }}</td>
                        <td>{{ data?.category[0]?.title }}</td>
                        <td>{{ data?.sortOrder }}</td>
                        <!-- <td>
                            <nz-tag [nzColor]="'red'" *ngIf="!data.active">Locked</nz-tag>
                            <nz-tag [nzColor]="'green'" *ngIf="data.active">Active</nz-tag>
                        </td> -->
                        <td>{{ data.createdAt }}</td>
                        <td>
                            <div nz-row>
                                <a class="text-[white] py-[16px] px-[20px] hover:bg-pink-100 bg-blue-100 font-bold hover:text-[white]"
                                    (click)="goToDetail(data.id)" nz-popconfirm>
                                    Edit
                                </a>
                                <a nz-popconfirm
                                    class="text-[white] py-[16px] ml-[8px] px-[20px] bg-pink-100 hover:bg-blue-100 font-bold hover:text-[white]"
                                    [nzPopconfirmTitle]="'Are you sure you want to delete?'"
                                    nzPopconfirmPlacement="bottom" (nzOnConfirm)="onDelete(data.id)">
                                    <span nz-icon nzType="delete"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </nz-table>
    </div>
</div>